/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* variables */
:root {
  /* colors */
  --primary-darkPurple: #24053e;
  --primary-eucaplyptus: #44ffa1;
  --primary-davysGrey: #584d62;
  --primary-ghostWhite: #fcf8ff;
  --primary-white: #ffffff;
  /* fonts */
  --headingFont: "Fraunces", serif;
  --bodyFont: "Manrope", sans-serif;
}
/* global classes */
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* general styling */
body {
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--primary-davysGrey);
  min-height: 100vh;
}
.top-container {
  background-color: var(--primary-darkPurple);
  padding: 2rem 1rem;
  margin-bottom: 12rem;
  border-bottom-left-radius: 50% 3%;
  border-bottom-right-radius: 50% 3%;
}
.top {
  display: flex;
  justify-content: space-between;
}
.cta-top a {
  text-decoration: none;
  color: var(--primary-white);
  line-height: 2rem;
  border-bottom: solid var(--primary-eucaplyptus) 0.2rem;
  margin-top: 1rem;
  /* display: block; */
}
.title {
  position: relative;
}
h1 {
  font-family: var(--headingFont);
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;
  color: var(--primary-white);
  text-align: center;
  margin: 4rem auto 2.5rem auto;
  max-width: 21.5rem;
}
.underline {
  border-bottom: solid var(--primary-eucaplyptus) 0.2rem;
}
.explore-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: block; */
  width: 8.31rem;
  height: 3.43rem;
  margin: 0 auto 9.8rem auto;
  text-align: center;
  background-color: var(--primary-eucaplyptus);
}
.explore {
  text-decoration: none;
  color: var(--primary-darkPurple);
  font-weight: 700;
}
.hero-img {
  position: absolute;
  /* margin-top: 4rem; */
  transform: translate(0, -30%);
}
.footer {
  /* margin: 0 1rem; */
}
